$max-width: 1440px;

$color--white: #ffffff;
$color--white-2: #c9c9c9;
$color--white-80: rgba(255, 255, 255, .8);
$color--black: #666666;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/*header*********************************************************************/
header {
  width: 100%;
  height: 125.8px;
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    transition:opacity .4s linear;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
    .header-inner{
      .select-language {
        a {
          color: $color--black;
        }
        .btn-language {
          background-image: url('/ico_arr_down_black.png');
        }
      }
      .logo {
        background-image: url('./sulwhasoo_orange_logo.png');
      }
      .top-search {
        span {
          color: $color--black;
        }
        .btn-search {
          background-image: url("./black_search.png");
        }
      }
    }
    .gnb {
      .gnb-menu {
        .nav-d1 {
          a {
            color: $color--black;
          }
        }
      }
    }
  }
  .header-inner {
    width: 1100px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .select-language {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 15px;
      a {
        text-decoration: none;
        color: $color--white;
        font-size: 15px;
      }
      .btn-language {
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: none;
        background-image: url('/ico_arr_down_white.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .logo {
      width: 166px;
      height: 40px;
      background-image: url('./sulwhasoo_white_logo.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .top-search {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 15px;
      display: flex;
      align-items: center;
      span {
        color: $color--white;
        padding: 0 15px;
        font-size: 15px;
        &::after {
          content: "";
          height: 13px;
          position: absolute;
          border: 1px solid $color--white-2;
          margin-left: 15px;
        }
      }
      .btn-search {
        width: 18px;
        height: 18px;
        border: none;
        margin-left: 15px;
        background-color: transparent;
        background-image: url("./white_search.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .gnb {
    width: 1100px;
    height: calc(125.8px - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    .gnb-menu {
      width: 100%;
      padding: 6px 0 4px;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      z-index: 9;
      .nav-d1 {
        padding: 10px 15px 3px;
        margin: 0 10px;
        height: 30px;
        font-size: 17px;
        z-index: 9;
        &:hover {
          >a {
            padding-bottom: 13px;
            border-bottom: 3px solid #000;
          }
          >.gnb-sub {
            display: flex;
            margin-top: 17px;
          }
          ::after {
            position: absolute;
            display: flex;
            left: 50%;
            margin-left: -550px;
            top: 0;
            content: '';
            width: 1100px;
            border-bottom: 1px solid $color--white-2;
          }
        }
      }
      .gnb-sub {
        box-sizing: border-box;
        position: absolute;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $color--black;
        font-size: 14px;
        width: 100%;
        left: 0;
        background-color: $color--white;
        display: none;
        margin-top: -18px;
        transition: all .5s ease-in-out;
        .nav-d2 {
          margin-right: 20px;
          a {
            &:hover {
              font-weight: 700;
            }
          }
        }
        &.m1 {
          padding-left: 390px;
        } 
        &.m2 {
          padding-left: 630px;
        } 
        &.m3 {
          padding-left: 530px;
        } 
        &.m4 {
          padding-left: 840px;
        } 
        &.m5 {
          padding-left: 980px;
        } 
      }
      
      .hide {
        display: none;
      }
      
      a {
        text-decoration: none;
        color: $color--white;
      }
      
    }
  }
}
/*main slide*********************************************************************/
.main-slide {
  width: 100%;
  height: 534.81px;
  position: relative;
  .swiper-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    swiper-container {
      width: 100%;
      height: 100%;
      swiper-slide {
        width: 100%;
        height: 100%;
        .img {
          position: absolute;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .info-wrap {
          position: relative;
          padding-left: 169.5px;
          height: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          justify-content: flex-end;
          color: #fff;
          margin: 0 auto;
          span {
            font-size: 18px;
          }
          p {
            font-size: 36px;
            padding: 13px 0 10.15625%;
          }
          &.main-04 {
            color: #000;
          }
        }
      }
    }
    .scrollbar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0 39.5px;
      margin-bottom: 4.6875%;
      padding-left: 130px;
      display: flex;
      align-items: center;
      z-index: 5;
      .scrollbar-track {
        width: 420px;
        height: 4px;
        background-color: rgba($color: #fff, $alpha: .3);
        margin-right: 10px;
        position: relative;
        .scrollbar-thumb {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          transform-origin: left top;
          transform: translate3d(0px, 0px, 0px) scaleX(.25) scaleY(1);
          transition: transform .3s ease-in-out;
        }
      }
      .btn-scrollpause {
        width: 9px;
        height: 11px;
        background-color: transparent;
        background-image: url('./stop_white.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
      }
    }
    .btn-prev {
      background-color: rgba($color: #fff, $alpha: .5);
      position: absolute;
      left: 0;
      border: none;
      width: 68px;
      height: 68px;
      background-image: url('./re_arrow_left.png');
      z-index: 5;
      top: 50%;
      transform: translateY(-50%);
    }
    .btn-next {
      background-color: rgba($color: #fff, $alpha: .5);
      position: absolute;
      right: 0;
      border: none;
      width: 68px;
      height: 68px;
      background-image: url('./re_arrow_right.png');
      z-index: 5;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
}

/*products slide*********************************************************************/
.products-slide {
  width: $max-width;
  height: 706px;
  margin-top: 120px;
  position: relative;
  h2 {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -.025em;
    padding-bottom: 40px;
  }
  .swiper-wrap {
    position: relative;
    .img {
      width: 464px;
      height: 464px;
      background-size: contain;
    }
    .info-wrap {
      width: 100%;
      text-align: center;
      h3 {
        font-weight: 700;
        font-size: 20px;
        margin-top: 23px;
        letter-spacing: -.025em;
        margin-bottom: 10px;
      }
      span {
        font-weight: 400;
        font-size: 16px;
        color: #888;
        padding: 2px 0 14px;
        letter-spacing: -.025em;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -.025em;
        margin-top: 20px;
      }
    }
    .btn-prev {
      background-color: rgba($color: #fff, $alpha: .5);
      position: absolute;
      left: 0;
      border: none;
      width: 68px;
      height: 68px;
      background-image: url('./re_arrow_left.png');
      z-index: 5;
      top: 0;
      transform: translateY(0);
      margin-top: 13.8888888889%;
    }
    .btn-next {
      background-color: rgba($color: #fff, $alpha: .5);
      position: absolute;
      right: 0;
      border: none;
      width: 68px;
      height: 68px;
      background-image: url('./re_arrow_right.png');
      z-index: 5;
      top: 0;
      transform: translateY(0);
      margin-top: 13.8888888889%;
    }
  } 
  .scrollbar {
    bottom: 0;
    width: 100%;
    height: 11px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .scrollbar-track {
      width: 420px;
      height: 4px;
      background-color: #ddd;
      margin-right: 10px;
      position: relative;
      .scrollbar-thumb {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        transform-origin: left top;
        transform: translate3d(0px, 0px, 0px) scaleX(.5) scaleY(1);
        transition: transform .3s ease-in-out;
      }
    }
    .btn-scrollpause {
      width: 9px;
      height: 11px;
      background-image: url('./slide_pause.svg');
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      opacity: .5;
    }
  }
}

/*bestseller*********************************************************************/
.bestseller {
  width: $max-width;
  height: 540px;
  margin-top: 120px;
  background-color: green;
  position: relative;
  .text-wrap {
    position: absolute;
    bottom: 16.6666666667%;
    left: 11.8055555556%;
    p {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    span {
      font-size: 18px;
      padding: 7px 0 0;
      font-weight: 400;
      color: #666666;
      line-height: 1.5;
    }
    button {
      display: block;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -.025em;
      padding: 8px 23px;
      border: 1px solid #000;
      margin: 26px 0 0 0;
    }
  }
}

/*season*********************************************************************/
.season {
  width: $max-width;
  height: 651px;
  margin-top: 120px;
  h2 {
    font-size: 28px;
    padding-bottom: 20px;
    font-weight: 700;
  }
  .image-wrap {
    width: 100%;
    height: 522px;
    display: flex;
    justify-content: space-between;
    .season-left {
      width: 342px;
      height: 100%;
      background-color: #ededed;
      .img {
        width: 100%;
        height: 342px;
        background-image: url('./se_left.jpg');
        background-repeat: no-repeat;
        background-size: contain;
      }
      .inner {
        margin-top: 34px;
        text-align: center;
        p {
          &:nth-child(1) {
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 3px;
          }
          &:nth-child(2) {
            font-size: 16px;
            font-weight: 400;
            color: #888;
            padding-bottom: 11px;
            padding: 0 1.7708333333% 15px
          }
        }
      }
    }
    .season-center {
      width: 708px;
      height: 100%;
      background-image: url('./se_center.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      .inner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 0;
        p {
          &:first-child {
            font-size: 24px;
            font-weight: 700;
            padding-left: 8.7570621469%;
            margin-bottom: 20px;
          }
          &:last-child {
            font-size: 16px;
            letter-spacing: -.025em;
            color: #666;
            padding-top: 1.0638297872%;
            padding-left: 8.7570621469%;
            padding-bottom: 6.8085106383%;
            line-height: 1.5;
          }
        }
      } 
    }
    .season-right {
      width: 342px;
      height: 100%;
      background-color: #ededed;
      .img {
        width: 100%;
        height: 342px;
        background-image: url('./se_right.jpg');
        background-repeat: no-repeat;
        background-size: contain;
      }
      .inner {
        margin-top: 34px;
        text-align: center;
        p {
          &:nth-child(1) {
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 3px;
          }
          &:nth-child(2) {
            font-size: 16px;
            font-weight: 400;
            color: #888;
            padding-bottom: 11px;
            padding: 0 1.7708333333% 15px
          }
        }
      }
    }
  }
}
/*stores*********************************************************************/
.stores {
  width: $max-width;
  height: 718.15px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  .store-left, .store-right {
    margin: 0 13px;
    .left-img {
      width: 100%;
      height: calc(100% - 119px);
      background-image: url('./store_left.jpg');
      background-repeat: no-repeat;
    }
    .right-img {
      width: 100%;
      height: calc(100% - 119px);
      background-image: url('./store_right.jpg');
      background-repeat: no-repeat;
    }
    .inner {
      width: 707px;
      height: 119px;
      text-align: center;
      p {
        font-size: 28px;
        font-weight: 700;
        padding: 22px 0 14px;
      }
      button {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -.025em;
        padding: 1.3020833333% 4.6875%;
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 10px;
      }
    }
  }
}

/*social slide*********************************************************************/
.social-slide {
  width: $max-width;
  height: 381.6px;
  margin-top: 120px;
  position: relative;
  h2 {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -.025em;
    padding-bottom: 40px;
  }
  .swiper-wrap{
    position: relative;
    swiper-container {
      width: 100%;
      height: 100%;
      swiper-slide {
        position: relative;
        width: 301px;
        height: 301px;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #ededed;
        &:hover {
          cursor: url('./search-big.webp') 20 20,pointer;
          .hover-box {
            transform: translateY(0);
          }
          .img {
            transform: translateY(-20px);
          }
        }
        .img {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          transition: transform .2s ease-in-out;
        }
        .icon-wrap {
          top: 10px; 
          left: 10px;
          position: absolute;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background-color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          
          .icon {
            width: 18px;
            height: 18px;
            background-image: url('./bag.svg');
            background-size: contain;
          }
        }
        .hover-box {
          position: absolute;
          bottom: 0;
          width: 100%;
          display: flex;
          justify-content: center;
          transform: translateY(75px);
          transition: transform .2s ease-in-out;
          svg {
            position: absolute;
            bottom: 53px;
            width: 100%;
            height: 20px;
          }
          .info-wrap {
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: #fff;
            padding: 5px 0;
            overflow: hidden;
            p {
              padding: 5px 10px;
              font-size: 13px;
              margin-bottom: 3px;
            }
            span {
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              word-break: break-all;
              padding: 5px 10px;
              font-size: 12px;
            }
            
          }
        }
        
      }
    }
    .btn-next {
      top: 0;
      right: 0;
      position: absolute;
      width: 70px;
      height: 100%;
      z-index: 1;
      background-color: $color--white-80;
      border: none;
      background-image: url('./with-right.webp');
      background-repeat: no-repeat;
      background-position: 70% center;
    }
    .btn-prev {
      top: 0;
      left: 0;
      position: absolute;
      width: 70px;
      height: 100%;
      z-index: 1;
      background-color: $color--white-80;
      border: none;
      background-image: url('./with-left.webp');
      background-repeat: no-repeat;
      background-position: 30% center;
    }
  }
  
}

/*footer*********************************************************************/
footer {
  width: 100%;
  margin-top: 80px;
  border-top: 1px solid #eee;
  position: relative;
  display: flex;
  justify-content: center;
  color: #555;  
  &::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
  }
  .footer-wrap {
    width: 1200px;
    height: 155.8px;
    padding: 0 50px;
    box-sizing: border-box;
    .footer-links {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 55px;
      .link {
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding: 3px 21px 3px 0;
        vertical-align: top;
        font-size: 14px;
        color: #555;  
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        &::after {
          display: block;
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 1px;
          height: 13px;
          background-color: #c9c9c9;
          transform: translateY(-50%);
        }
        &:nth-child(7)::after {
          display: none;
        }
      }
      .footer-sns {
        position: absolute;
        right: 0;
        width: 240px;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        box-sizing: border-box;
        .mark {
          width: 42px;
          height: 42px;
          background-image: url('./footer-mark.png');
          background-size: contain;
          background-repeat: no-repeat;
          margin-top: 12px;
        }
        a {
          width: 30px;
          height: 30px;
        }
        .facebook {
          background-image: url('./facebookLogo.png');
        }
        .instagram { 
          background-image: url('./instaLogo.png');
        }
        .youtube {
          background-image: url('./youtubeLogo.png');
        }
        .kakao {
          background-image: url('./kakaoChannelLogo.png');
        }
      }
    }
  }
  .footer-cs {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .footer-corp {
    font-size: 13px;
  }
}
